.sect3 {
    width: 100%;
    background-color: #eff1f7;


    .section3 {
        padding: 100px 50px 200px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        position: relative;

        .heading {
            width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            h2 {
                font-size: 40px;
                font-weight: 900;
            }

            p {
                font-size: 18px;
                text-align: center;
                font-weight: 600;
                color: #b0b1b3;
            }
        }

        .line {
            position: absolute;
            background-color: #2bcece;
            height: 13px;
            width: 600px;
            top: 55%;
        }

        .cards {
            display: flex;
            flex-direction: row;
            gap: 30px;
            position: relative;

            .card {
                position: relative;
                width: 380px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                z-index: 999;
                background-color: white;
                padding: 80px 30px 20px 30px;
                border-radius: 10px;

                .round {
                    position: absolute;
                    background-color: rgb(80, 49, 100);
                    border-radius: 50%;
                    padding: 25px 30px;
                    top: -40px;
                    left: 20px;
                }

                span {
                    margin-top: 40px;
                    font-weight: 800;
                    font-size: 22px;
                }

                p {
                    margin-top: 10px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #b0b1b3;
                }
            }

            .card2 {
                top: 50px;
            }

            .card3 {
                top: 100px;
            }
        }
    }
}